/* If not reflecting any changes in local host 8000 - then you will need to clear cached images/file data in chrome/browser */

* { 
border: red 1px dotted;
}


body {
    background-color: #252525;
    color: aliceblue;
}