<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python TDD With Django</title>
</head>
<body>
    <div class="large-container">
        <form action="">
            <h1>Input section here, will parse data</h1>
            <input type="number" name="" id="">
        </form>
        <div class="pass-fail-container">
            <h1>this is where the pass and fail tests will display</h1>
        </div>
    </div>
    
</body>
</html>